<table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Map</th>
        <th>Street</th>
        <th>From</th>
        <th>To</th>
        <th>Week of month</th>
        <th>Days of week</th>
        <th>Starting at</th>
        <th>Finishing at</th>
        <th>Side of street</th>
      </tr>
    </thead>
    <% @routes.each do |route| %>
      <tbody>
        <tr>
          <td><p> <%= link_to "Show Map"%></p></td>
          <td><p><%= route.street %></p></td>
          <td><p><%= route.start_point %></p></td>
          <td><p><%= route.end_point %></p></td>
          <td><p><%= route.weeks_of_month %></p></td>
          <td><p><%= route.days_of_week %> </p></td>
          <td><p><%= route.start_time.slice(0..4) %></p></td>
          <td><p><%= route.end_time.slice(0..4) %></p></td>
          <td><p><%= route.side %></p></td>
        </tr>
      </tbody>
    <% end %>
</table>
