<h1 class="text-center">Route Info</h1>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="header">
                        <% @routes.each do |route| %>
                          <% cache(fingerprint(@routes.first.street) + "maps-for-#{@routes.first.street}") do %>
                            <iframe src="https://www.google.com/maps/embed/v1/directions?key=<%= ENV["g_maps_key"] %>&mode=walking&origin=<%= route.street %>+and+<%= route.start_point %>+boston&destination=<%= route.street %>+and+<%= route.end_point %>+boston" width="550" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                          <% end %>
                        <% end %>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title text-center"><%= @routes.first.street %></h4>
                    </div>
                    <div class="content">
                        <div id="chartHours" class="ct-chart">
                          <%= render "shared/table" %>
                        </div>
                    </div>
                </div>
                <%= link_to 'Back to Results', :back %>
            </div>
        </div>
        <!-- <iframe src="https://www.mapquestapi.com/embed/directions/v2/route?key=<%= ENV["mapquest_key"] %>&from=ashcroft+and+perkins+boston&to=ashcroft+and+moraine+boston&outFormat=json&ambiguities=ignore&routeType=fastest&doReverseGeocode=false&enhancedNarrative=false&avoidTimedConditions=false" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
